<!DOCTYPE html>
<html>
<head>
    <title>Room Details</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
</head>

<body onload = "generate()">
    <h1>RFID Tracking Simulator</h1>

    <form>
        <label for="room">Room:</label>
        <select id="room" name="room">
            <option value="The Mona Lisa Gallery">The Mona Lisa Gallery</option>
            <option value="The Hall of Dinosaurs">The Hall of Dinosaurs</option>
            <option value="The Egyptian Antiquities Wing">The Egyptian Antiquities Wing</option>
            <option value="The Hall of Mirrors">The Hall of Mirrors</option>
            <option value="The Sistine Chapel">The Sistine Chapel</option>
            <option value="The Hall of Mummies">The Hall of Mummies</option>
            <option value="The Impressionist Collection">The Impressionist Collection</option>
            <option value="The Hall of Ancient Greek Sculptures">The Hall of Ancient Greek Sculptures</option>
            <option value="The Hall of Enlightenment">The Hall of Enlightenment</option>
            <option value="The African Art Gallery">The African Art Gallery</option>
        </select>

        <label for="id">ID:</label>
        <input type="text" id="id" name="id">

        <label for="group">Group:</label>
        <select id="group" name="group">
            <option value="child">Child</option>
            <option value="adult">Adult</option>
            <option value="senior">Senior</option>
        </select>

        <button type="button" onclick="rfid_scanner()">Scan</button>
        
    </form>

    <h2>Population:</h2>
    <table id="room-table">
        <tr>
            <th>Room</th>
            <th>ID</th>
            <th>Group</th>
            <th>Time In</th>
            <th>Time Out</th>
        </tr>
    </table>
    
    <input type="hidden" id="time-in" name="time-in">
    <input type="hidden" id="time-out" name="time-out">
</body>
</html>
